# IPython Notebook
.ipynb_checkpoints

#Ignore .pyc
*.pyc

#files/images in analysis notebooks 
analysis_notebooks/figures/

#ignore plot images
paper/BSA_silver_NP_LSPR_response/*.png 

#pdf figures
*.pdf

#nbgrader log
*.nbgrader.log

