# IPython Notebook
.ipynb_checkpoints

#Ignore .pyc
*.pyc

#files/images in analysis notebooks 
analysis_notebooks/figures/

#ignore mesh files
paper/BSA_silver_NP_LSPR_response/mesh_files/

#pdf figures
*.pdf

#nbgrader log
*.nbgrader.log

